:root {
    --text: #131612;
    --backround: #fafaef;
    --primary: #f0830f;
    --secondary: #2f37da;
    --accent: #d94011;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--backround); 
    color:var(--text);
    margin: 0;

}
#wrapper {
    width: 88%;
    margin: 0 auto;
    border: 10px solid var(--text);
    background-color: var(--primary);
}
header {
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center 75%;
    height: 360px;
    text-align: center;
    padding: 2em 1em;
    color: var(--backround);
    text-shadow: 2px 2px 6px var(--text);
    border-bottom: 3px solid var(--text);
    padding-left: 1.5em;
    }
    header h1 {
        font-size: 52px;
        margin: 0;
        margin-top: 100px;
        text-decoration: underline;
    }
    .subheader {
        font-size: 20px;
        margin-top: 200px;
        margin-right: 20px;
        text-align: right;
        font-weight: normal;
        color: var(--backround);
        text-shadow: 2px 2px 6px var(--text);
}
.formbox {
    width: 100%;
    max-width: 500px;
    margin: 25px auto;
    padding: 20px;
    padding-top: 5px;
    background-color: var(--backround);
    border: 2px solid var(--text);
    text-align: center;
    border-radius: 8px;
    font-size: 1.2em;
}
.required {
    font-weight: normal;
    font-size: small;
}
nav {
    text-align: center;
    background-color: var(--secondary);
    border-bottom: 3px solid var(--text);
    padding: 0.75em 0;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--backround);
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a:hover{
color: var(--primary);
text-decoration: underline;
}
table {
        border: 2px solid var(--text);
        border-collapse: collapse;
    }
    td, th {
        padding: 0.5em;
        border: 2px solid var(--text);
    }
    td {
        text-align: center;
    }
main {
    background-color: var(--primary);
    padding: 2em 1.5em;
    text-align: center;
    border-bottom: 3px solid var(--text);
    width: 80%;
    margin: 30px auto;
    overflow: auto;
}
main h2, main h3 {
    text-align: center;
    text-decoration: underline;
}
main h2 {
    margin-top: 0px;
    text-align: center;
}
main p {
    text-align: center;
    line-height: 1.6;
    margin: 10px 0 25px 0;
}
footer {
    text-align: center;
    padding: 1em;
    background-color: var(--secondary);
    border-top: 3px solid var(--text);
    color: var(--backround);
}
body.home header {
     background-image: url(images/boxeroptimized.jpg);
}
body.quiz header {
    background-image: url(images/IMG_6320.JPG);
    background-position: center 55%;
}
body.training header {
    background-image: url(images/IMG_0988.jpg);
    background-position: right;
}
body.carecost header {
    background-image: url(images/IMG_0480Optimized.jpg);
    background-position: left;
}
body.carecost .subheader {
    display: none;
}

body.quiz .subheader {
    display: none;
}
body.training .subheader {
    display: none;
}
body.carecost h2 {
    text-align: center;
}
body.carecost p {
    text-align: center;
}
body.quiz {
    background-color: var(--primary);
    box-sizing: border-box;
}
body.quiz #wrapper {
    background-color:var(--backround);
}
body.carecost {
    background-color: var(--primary)
}
body.carecost #wrapper {
    background-color:var(--backround);
}
body.carecost main {
    background-color: var(--backround);
}
body.training header h1 {
position: relative;
top: -15px;
color: var(--backround);
}
body.quiz .formbox {
    width: 75%;
    float: left;
    border-radius: 12px;
    margin: 0;
    padding-bottom: 19px;
    background-color: var(--primary);
    color: var(--text);
    font-weight: 600;
}
body.quiz .quizlayout {
    overflow: auto;
}


body.quiz main p {
    width: 60%;
    margin: 0 auto 25px auto;
    text-align: center;
}
body.quiz main {
    text-align: center;
    padding: 20px;
    background-color: var(--backround);
    }
footer a {
    color: var(--backround);
}
footer a:hover {
    color: var(--text);
}
@media (max-width:768px) {
    body.quiz .formbox {
        width: 100%;
        float: none;
        margin: 0 auto 20px auto;
    }
body.quiz main img {
    width: 100%;
    margin: 0 auto 20px auto;
    display: block;
    float: none;
}
}
@media (min-width:700px) and (max-width:1199px) {
    body.quiz .quizlayout {
        align-items: flex-start;
        justify-content: center;
        display: flex;
        flex-wrap: nowrap;
    }
    body.quiz .formbox {
        width: 85%;
        max-width: 480px;
        float: none;
        margin: 0;
        gap: 20px;
        overflow: none;
        height: auto;
        display: block;
    }
    body.quiz main img {
        width: 55%;
        max-width: 480px;
        float: none;
        margin: 0;
        gap: 20px;
        overflow: none;
        height: auto;
        display: block;
    }
}
@media (min-width:1200px) {
    body.quiz .quizlayout {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;
    }
    body.quiz main img {
        width: 60%;
        max-width: 700px;
        height: auto;
        margin: 0;
    }
    body.quiz .formbox {
        width: 80%;
        max-width: 520px;
        margin-top: 0;
    }
}
@media (min-width:700px) {
    body.quiz .quizlayout {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;
    }
    body.quiz main img {
        width: 50%;
        max-width: 600px;
        height: auto;
        display: block;
        
    }
    body.quiz .formbox {
        width: 50%;
        max-width: 600px;
    }
}
