:root {
    --text: #131612;
    --backround: #fafaef;
    --primary: #f0830f;
    --secondary: #2f37da;
    --accent: #d94011;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--backround); 
    color:var(--text);
    margin: 0;

}
#wrapper {
    width: 88%;
    margin: 0 auto;
    border: 10px solid var(--text);
    background-color: var(--primary);
}
header {
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center 75%;
    height: 360px;
    text-align: center;
    padding: 2em 1em;
    color: var(--backround);
    text-shadow: 2px 2px 6px var(--text);
    border-bottom: 3px solid var(--text);
    padding-left: 1.5em;
    }
    header h1 {
        font-size: 52px;
        margin: 0;
        margin-top: 100px;
        text-decoration: underline;
    }
    .subheader {
        font-size: 20px;
        margin-top: 200px;
        margin-right: 20px;
        text-align: right;
        font-weight: normal;
        color: var(--backround);
        text-shadow: 2px 2px 6px var(--text);
}
.formbox {
    width: 500px;
    margin: 25px auto;
    padding: 20px;
    padding-top: 5px;
    background-color: var(--backround);
    border: 2px solid var(--text);
    text-align: center;
    border-radius: 8px;
    font-size: .98em;
}
.required {
    font-weight: normal;
    font-size: x-small;

}
nav {
    text-align: center;
    background-color: var(--secondary);
    border-bottom: 3px solid var(--text);
    padding: 0.75em 0;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--backround);
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a:hover{
color: var(--primary);
text-decoration: underline;
}
table {
        border: 2px solid var(--text);
        border-collapse: collapse;
    }
    td, th {
        padding: 0.5em;
        border: 2px solid var(--text);
    }
    td {
        text-align: center;
    }
main {
    background-color: var(--primary);
    padding: 2em 1.5em;
    text-align: center;
    border-bottom: 3px solid var(--text);
    width: 80%;
    margin: 30px auto;
    overflow: auto;
}
main h2, main h3 {
    text-align: center;
    text-decoration: underline;
}
main h2 {
    margin-top: 0px;
    float: center;
}
main p {
    text-align: center;
    line-height: 1.6;
    margin: 10px 0 25px 0;
}
footer {
    text-align: center;
    padding: 1em;
    background-color: var(--secondary);
    border-top: 3px solid var(--text);
    color: var(--backround);
    text-shadow: var(--text);
}
body.home header {
     background-image: url(images/boxer.jpg);
}
body.quiz header {
    background-image: url(images/IMG_6320.JPG);
    background-position: center 55%;
}
body.training header {
    background-image: url(images/IMG_5291.JPG);
    background-position: center;
    background-size:100% 100%;
    background-repeat: no-repeat;
}
body.carecost header {
    background-image: url(images/IMG_0480.jpg);
    background-position: left;
}
body.carecost .subheader {
    display: none;
}

body.quiz .subheader {
    display: none;
}
body.training .subheader {
    display: none;
}
body.carecost h2 {
    text-align: center;
}
body.carecost p {
    text-align: center;
}
body.quiz {
    background-color: var(--primary)
}
body.quiz #wrapper {
    background-color:var(--backround);
}
body.carecost {
    background-color: var(--primary)
}
body.carecost #wrapper {
    background-color:var(--backround);
}
body.carecost main {
    background-color: var(--backround);
}
body.training header h1 {
position: relative;
top: -15px;
text-shadow:var(--text);
color: var(--backround);
}
body.quiz .formbox {
    width: 75%;
    float: left;
    border-radius: 12px;
    margin: 0;
    height: 455px;
    background-color: var(--primary);
    color: var(--text);
    font-weight: 600;
}
body.quiz .quizlayout {
    overflow: auto;
}
body.quiz main img {
    width: 45%;
    display: block;
    margin: 0 auto 30px auto;
    float: right;
    border-radius: 12px;
}
body.quiz main p {
    width: 60%;
    margin: 0 auto 25px auto;
    text-align: center;
}
body.quiz main {
    text-align: center;
    padding: 20px;
    background-color: var(--backround);
}
footer a {
    color: var(--backround);
    text-shadow: var(--text);
}
footer a:hover {
    color: var(--text);
}
