:root {
    --text: #131612;
    --backround: #fafaef;
    --primary: #f0830f;
    --secondary: #2f37da;
    --accent: #d94011;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--backround); 
    color:var(--text);
    margin: 0;

}
#wrapper {
    width: 88%;
    margin: 0 auto;
    border: 10px solid var(--text);
    background-color: var(--primary);

    

}
header {
    background-image: url(images/boxer.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center 75%;
    height: 360px;
    text-align: center;
    padding: 2em 1em;
    color: var(--backround);
    text-shadow: 2px 2px 6px var(--text);
    border-bottom: 3px solid var(--text);
    padding-left: 1.5em;
    }
    header h1 {
        font-size: 52px;
        margin: 0;
        margin-top: 100px;
    }
    .subheader {
        font-size: 20px;
        margin-top: 200px;
        margin-right: 20px;
        text-align: right;
        font-weight: normal;
        color: var(--backround);
        text-shadow: 2px 2px 6px var(--text);
}
nav {
    text-align: center;
    background-color: var(--secondary);
    border-bottom: 3px solid var(--text);
    padding: 0.75em 0;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--backround);
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a:hover{
color: var(--primary);
text-decoration: underline;
}
main {
    background-color: var(--primary);
    padding: 2em 1.5em;
    text-align: center;
    border-bottom: 3px solid var(--text);
    width: 80%;
    margin: 30px auto;
    
    
}
main h2, main h3 {
    text-align: center;
}
main h2 {
    margin-top: 0px;
}
main p {
    text-align: left;
    line-height: 1.6;
    margin: 10px 0 25px 0;
}
footer {
    text-align: center;
    padding: 1em;
    background-color: var(--secondary);
    border-top: 3px solid var(--text);
    color: var(--backround);
    text-shadow: var(--text);
}
footer a {
    color: var(--backround);
    text-shadow: var(--text);
}
footer a:hover {
    color: var(--text);
}